.barContainer{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  font-size: 0.85rem;
  gap: 20px;
  max-width: 100%;
  width: 100%;
  margin-top: 1.5rem;
  height: 400px;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.expenseHolder{
    margin-top: 2rem;
    padding: 1rem ;
    width: var(--max-width);
    font-size: 0.85rem;
    font-family: var(--font-mono);
    background-color: var(--theme-color-blur);
}

.expenseHolder h1{
    font-size: 2rem;
    font-weight: 400;
}

.bar{
    width: 35px;
    height: 95%;
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.expense{
    width: 120px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}